@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Josefin+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Josefin+Sans:ital,wght@1,700&family=Red+Hat+Display:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Fredericka+the+Great&family=Josefin+Sans:ital,wght@1,700&family=Red+Hat+Display:wght@300&display=swap');



body {
  margin: 0;
  font-family: Arial, sans-serif;
  background:#AFC8AD;

}


nav {
  

  
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:px 20px;
  padding-left: 20px;
  font-size: x-large;
  font-weight: bolder;
  box-shadow: 0 2px 4px rgba(0, 0, 0,0.4);
}

.logo img {
  max-width: 170px;
 
  
}

.menu {
  
  list-style-type: none;
  text-decoration: black;
  margin-right: 60px;
  display: flex;
   
}
.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  display: block;
  color: white;
  text-decoration: none;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

.menu li a:hover {
  color:rgb(109, 109, 109);
  color:5;  
  padding-top: 1px;
  
}

.intro{
  background-image: url('d887ff5af8fc5db2413158a214ef475e.png');
  background-size:contain;
 
  background-color:#EEE7DA;
  border-radius: 10px;
  
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  
  justify-content: center ;
  box-shadow: 0 10px 15px rgba(0, 0, 0,0.8);
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Josefin Sans', sans-serif;
  
}


.container{
  display: grid;
  grid-template-rows:1fr 1fr 1fr;
  
  grid-gap: -5px;
  
  
}
.heads{
  
  padding: 20px;
  justify-content: center;
  font-size: x-large;
}

#M1{
  color:brown;
  text-decoration:green underline;

  
}



#dscrp{
  font-size: x-large;
  margin-top: -70px;
  color:black;
  font-family: 'Cinzel', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Red Hat Display', sans-serif;
  
  
  

}



.try{
 
  
  border-style: solid;
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 50px;
 
  
  font-size: x-large;
  margin-bottom: -50px;
  
  margin-top: -10px;
 
  box-shadow: 0 10px 40px rgba(0, 0, 0,0.5);
  
  margin-bottom: 50px;
  border-color: rgb(212, 212, 212);
  background-color:rgba(0, 0, 0, 0.826) ;
  color: white;
  
}
.fa-microchip {
  color:white ;
}

.try:hover{
  background-color:rgba(240, 255, 255, 0.79);
  color:black ;
  border-color:gray;
}
.try:hover .fa-microchip {
  color: black; 
}
.parent-container {
 
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  
}

.text1{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  color: azure;
  background-color: rgba(0, 0, 0, 0.619);
  margin-top: 100px
 
}


.companies iframe {
  
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 100px;
 
}
.companies{
  display: flex;
  justify-content: center;
}

.bfrftr{
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 50px;
  font-family: 'Cinzel', serif;
font-family: 'Fredericka the Great', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Red Hat Display', sans-serif;
}









.footer {
  background-color:#F5F4EF;
  color: black;
  padding: 10px 0;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  
}

.contact-info p {
  margin-bottom: 10px;
  font-size: 16px;
  
}

.footer-links a {
  color: black  ;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s ease;
  text-decoration: underline;
}

.footer-links a:hover {
  color: #f7f7f7;
}



.gobackup{
  display: flex;
  justify-content: center;
}


.scroll-btn {
  
  bottom: 200px;
  right: 20px;
  background-color: #00000000;
  color: white;
  border: none;
  border-radius: 30%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  z-index: 999;
  margin-top: -40px;
  
}

.scroll-btn , i {
  color: black;
}



.scroll-btn:hover {
  background-color: #0000001a;
}
